@property --color-top {
    syntax: "<color>";
    inherits: false;
    initial-value: #fffae5;
}
  
@property --color-bottom {
syntax: "<color>";
inherits: false;
initial-value: #FFC6BD;
}

@property --wave-radius {
    syntax: "<length>";
    inherits: false;
    initial-value: 8vh;
    }


html, body {
    height: 100vh;
    width: 100vw;
    margin:0;

    --color-top: #fffacd;
    --color-bottom: #fcd3cc;
    --wave-radius: 10%;
}
.grid {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 9fr;
}

.header {
    background-color: var(--color-top);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.body:before {
    content: '';
    position: absolute;
    left: 0;
    top: calc(var(--wave-radius) * -0.5);
    right: 0;
    background-repeat: repeat;
    height: var(--wave-radius);
    background-size: var(--wave-radius) var(--wave-radius);
    background-image: radial-gradient(circle at 50% calc(var(--wave-radius) * 1.25), var(--color-bottom) calc(var(--wave-radius) + 1px), transparent calc(var(--wave-radius) + 2px));
    background-position: top center;
    z-index: 2;
  }

.body {
    background-color: var(--color-bottom);
    position: relative;
}

/************************************/
.img-wrapper {
    width: 30%;
    height: auto;
}

.img-wrapper > img {
    width: 100%;
}

.sticky-social-link {
    position: sticky;
    top: 70vh;
    width: 4vw;
    padding: 0.5vh 1vw;
    background-color: var(--color-top);
    border-radius: 0% 30% 30% 0%;
}

.sticky-social-link a {
    object-fit: contain;
    display: flex;
    justify-content: center;
}

.sticky-social-link > img {
    width: 100%;
    height: auto;
}

.body {
    container-type: inline-size;
}

.mason-gallery {
    container-type: inline-size;
    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
    padding: 1vh 8vw 6vh 8vw;
}

.section {
    display: flex;
    flex-direction: column;
}

@container (width < 400px){
    .mason-gallery {
        flex-direction: column;
    }
}

.section > img {
    width: 100%;
    border-radius: 6%;
    padding: 4% 0%;
    object-fit: contain;
}
